# From: https://dev.to/andresfmoya/install-jenkins-using-docker-compose-4cab
# Use: docker-compose up -d
# Get password: â¯ docker exec jenkins cat /var/jenkins_home/secrets/initialAdminPassword

version: "3"

services:
  jenkins:
    container_name: jenkins
    image: jenkins/jenkins:lts
    privileged: true
    user: root
    ports:
      - 8081:8080
      - 50000:50000
    volumes:
      - ~/git/dbt-demo/containers/jenkins/data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker
